/* if div is a direct parent of p */
.start div > p {
    background-color: blue;
    color: #fff;
}
/* if span is right after div */
.start div + span {
    background: #333;
    color: #fff;
}
/* if p is preceded by a ul with same parent */
.start ul ~ p {
    background: #ff0000;
    color: #fff;
}
/* Target attribute */
.start .form input[type] {
    background: #ddd;
}
/* Target specific attribute value */
.start .form input[type='email'] {
    width: 100%;
}


/* focus */
.focus input:focus{
    background: aqua;
}


/* hover */
.hover div{
    height:20px;
    background-color: yellowgreen;
}
.hover div:hover{
    height:40px;
    color:crimson;
    font-weight: bolder;
}


/* active */
.active p{
    border: 1px solid gray;
}
.active p:active{
    background-color: yellow;
    font-weight: bolder;
}

.active div{
    border: 1px solid gray;
}
.active div:active{
    background-color: blue;
    color:white;
}


/* child */
.child .odd-even li:nth-child(odd){
    background: #ccc;
}
.child .odd-even li:nth-child(even){
    background: #ddd;
}

.child .position li:first-child{
    background: darksalmon;
}
.child .position li:last-child{
    background: darksalmon;
}
/* position 5 */
.child .position li:nth-child(5){
    background: coral;
}
/* every 3rd */
.child .position li:nth-child(3n + 0) {
    background: orange;
}
/* every 5rd start from 10 */
.child .position li:nth-child(5n + 11) {
    background: yellow;
}


/* is */
.is :is(div){
    color:brown;
    font-weight: bolder;
}


/* has */
.has .tag ul:has(li){
    color:brown;
    font-weight: bolder;
}
.has .by-class:has(.has-class){
    background-color: darkslategray;
    color: white;
}
.has .list li:has(p,span){
    color:blueviolet;
}


/* not */
.not ul li:not(.other){
    color:purple;
    font-weight: bolder;
}
.not div :not(div){
    background-color: darkslategray;
    color: white;
}


/* before-after */
.before-after .before .required::before{
    content: 'content in css';
    color: red;
    padding-right: 2px;
}
.before-after .after .required::after{
    content: '*';
    color: red;
    padding-left: 2px;
}


/* combine */
.combine ul li:has(>p){
    color:blueviolet;
}
